.meals-container {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(2, 0.1fr);
  justify-content: center;
}
.meals-dish {
 
  background-color: #ffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px #0000000a;
  display: flex;
 flex-direction: column;
  margin-bottom: 16px;
  padding: 16px;
}
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
